---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div id="vssue"></div>
<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
<!-- Introduce Vue first -->
<!-- OR: vue full build (runtime + compiler)  -->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- Introduce Vssue after Vue -->
<!-- Vssue Github build -->
<script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
<!-- Use Vssue as a Vue component -->
<script>
    new Vue({
      el: '#vssue',

      data: {
        title: 'Vssue Dev',

        options: {
          owner: 'zhaokv',
          repo: 'zhaokv.github.io',
          clientId: '11c8162a4d449d21107c',
          clientSecret: 'd3ddd0083b46bf59c513ce2b9d23b47bc2f52385', // only required for some of the platforms
        },
      },

      template: `<vssue :title="title" :options="options"></vssue>`,
    })
</script>